<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Description</th>
      <!-- <th> </th>-->
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.username %></td>
        <td><%= comment.content %></td>
        <td><%= link_to 'Destroy', question_comment_path(@question, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'comments/form', question: @question, comment: Comment.new %>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
